<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1083071575037-ug9lbo2stninecec7l9emn1t7cgav1fs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083071575037-ug9lbo2stninecec7l9emn1t7cgav1fs</string>
	<key>API_KEY</key>
	<string>AIzaSyCPq8b-IGF1ZaiBzaO64oUhQzn3ILZrraA</string>
	<key>GCM_SENDER_ID</key>
	<string>1083071575037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.lingren.apps.firebasedemo</string>
	<key>PROJECT_ID</key>
	<string>iosconnectiondemo</string>
	<key>STORAGE_BUCKET</key>
	<string>iosconnectiondemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083071575037:ios:e5889a9acf3b6081</string>
	<key>DATABASE_URL</key>
	<string>https://iosconnectiondemo.firebaseio.com</string>
</dict>
</plist>
